.first-div{
    width: 500px;
    height: 500px;
    background-color: lightsalmon;
    border-width: 3px;
    border-color: maroon;
    border-radius: 20%;
    margin: 10%;
    padding: 5%;
}
.Normal-Para{
 color: green;
 font-family: Arial, Helvetica, sans-serif;
 margin: 10px 0;
}
#Fav-Para{
    color:purple;
    font-weight: bold;
}